:root {
  --background: #ffffff;
  --foreground: #171717;

  --tanLight: #f3e4c5;
  --tanMid: #efd09a;
  --tanShadow: #e1ad74;
  --tanDarkText: #bc724b;
  /* rainbow */
  --rainbowBlue: #1b525d;
  --rainbowTurquoise: #03898c;
  --rainbowYellow: #edaa23;
  --rainbowOrange: #f28621;
  --rainbowRed: #a4282a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.5em;
}

body {
  color: var(--tanDarkText);
  background: var(--tanLight);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--tanDarkText);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* //////////////////// */

.rainbowContainer {
  display: flex;
  top: 100px;
  position: absolute;
  align-self: center;
  flex-flow: row nowrap;
  width: 200px;
  height: 100vh;
  /* border: 1px solid red; */
  gap: 10px;
  /* margin-top: -70px; */
  z-index: 1;
}

.rainbowStripe {
  width: 32px;
}

.threeColumn {
  display: grid;
  grid-template-columns: 300px 200px 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  @media (max-width: 500px) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 20px;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-end;
  width: inherit;
  height: 251px;
  /* border: 1px solid red; */
  background-image: url("images/footer-boxes.gif");
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow: visible;
}
.left {
  padding-right: 10px;
  text-align: right;
}

h1 {
  color: var(--rainbowBlue);
  text-transform: uppercase;
  font-size: x-large;
  margin-bottom: 1em;
}

.address{
  display: block;
  color: var(--rainbowBlue)
}