.topInfoBar {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 10px 0 10px;
  background-color: var(--tanShadow);
  color: var(--rainbowRed);
  text-align: center;
  list-style-type: none;
  gap: 20px;
}

.siteContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1500px;
  background: var(--tanLight);
}
.mainContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("images/top-boxes.gif");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  /* min-width: 300px; */
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("images/footer-boxes.gif");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  /* min-width: 300px; */

  /* border: 3px solid purple; */
}

.imageContainer {
  position: relative;
  width: 100vw;
  max-width: 600px;
  z-index: 200;
  margin: 0 20px;
  object-fit: inherit;
}

.card {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff8e9;
  padding: 20px;
  padding-top: 50px;
  border: 15px solid var(--rainbowBlue);
  border-radius: 30px;
  max-width: 500px;
  margin-bottom: 100px;
}

.promoSmallSection {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: space evenly;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  @media (max-width: 600px) {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}
