.topInfoBar {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 10px 0 10px;
  background-color: var(--tanShadow);
  color: var(--rainbowRed);
  text-align: center;
  list-style-type: none;
  gap: 20px;
}

.mainContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  justify-items: stretch;
  width: 100%;
  /* min-width: 100vh; */
  height: fit-content;
  overflow: hidden;
  background-image: url("images/top-boxes.gif");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 300px;
  /* border: 5px dotted red; */
}
/* .mainContainer:nth-child(odd) {
  border: 3px solid black;
} */

.imageContainer {
  position: relative;
  width: 100vw;
  max-width: 600px;
  z-index: 200;
  margin: 0 20px;
  object-fit: inherit;
}

.card {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff8e9;
  padding: 20px;
  padding-top: 50px;
  border: 15px solid var(--rainbowBlue);
  border-radius: 30px;
  max-width: 500px;
  margin-bottom: 100px;
}

/* ---------------------Polaroid Styles */

.promoSmallCircle {
  padding: 10px;
  margin: 10px;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: var(--tanShadow);
  overflow: visible;
}

.promoSmallContainer {
  /* width: auto; */
  flex-flow: column nowrap;
  max-width: 300px;
  /* margin: 30px; */
}
.promoSmallSection {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 30px;
  grid-template-columns: 50% 50%;
  /* border: 2px solid red; */
}
