p {
  margin-bottom: 20px;
}

.timeButton {
  /* background-color: var(--tan); */
  /* color: black; */
  cursor: pointer;
  margin: 0;
}

.timeButtonContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  /* padding: 20px; */
}

.review {
  display: flex;
  flex-flow: column nowrap;
  /* padding: 15px; */
  border-radius: 10px;
  margin-bottom: 20px;
  /* background-color: var(--tanLight); */
  color: var(--black);
}
.timeBlockHour {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.image-label {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  flex-grow: 2;
  flex-shrink: 3;
  /* border: 1px solid red; */
  /* @media (max-width: 615px) {
    flex-flow: row nowrap;
  } */
}

.sample-image-container {
  display: flex;
  width: auto;
  height: fit-content;
  min-width: 100px;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 4;
  @media (max-width: 615px) {
    min-width: 50px;
    max-width: 200px;
  }
}
.sample-image {
  display: flex;
  width: 100%;
  max-height: 400px;
  height: inherit;
  /* width: auto; */
  object-fit: contain;
}

.caricature-select {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  @media (max-width: 615px) {
    flex-flow: column nowrap;
    gap: 30px;
  }
}
