.appointmentContainer {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  gap: 20px;
  border: 1px solid red;
}

.intakeForm {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  /* padding: 20px; */
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 10px var(--tanDark);
  color: var(--black);
  overflow: visible;
  margin: 0px;
  border: 3px dashed var(--rainbowBlue);
}

.formHeader {
  width: 100%;
  padding: 40px 20px;
  background-color: var(--rainbowOrange);
  background-image: url("../../../src/app/images/bg-textures-orange.jpg");
  /* background-repeat: repeat; */
}

.formHeader > h1 {
  color: var(--white);
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}

.intakeForm > div {
  display: flex;
  padding: 0 20px;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
}
.intakeForm > div > div > h3 {
  color: var(--rainbowOrange);
  margin-top: 30px;
}

label {
  font-weight: 400;
  display: block;
}

p {
  margin-bottom: 20px;
}
form > h2 {
  color: var(--rainbowRed);
}

input {
  margin: 0 10px;
  border: 1px solid var(--rainbowYellow);
  background-color: var(--white);
}

textarea {
  border: 1px solid var(--rainbowYellow);
}

.timeButton {
  background-color: var(--tan);
  color: var(--rainbowOrange);
  cursor: pointer;
  margin: 0;
}
input[type="button"]:focus {
  background-color: var(--rainbowTurquoise);
  color: white;
  border-color: darkgray;
}

.timeButtonContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
}

.review {
  display: flex;
  flex-flow: column nowrap;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--tanLight);
  color: var(--black);
}
.timeBlockHour {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
