.copiesContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0 20px;
  /* border: 20px solid var(--rainbowRed); */
  /* background-image: url("../../app/images/bg-textures-red-large.jpg"); */
  background-repeat: repeat;
}
.copiesImageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 12;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.copiesP {
  padding: 10px 20px;
  background-color: var(--rainbowRed);
  color: var(--rainbowYellow);
  font-weight: 600;
}
