.couchContainer {
  display: flex;
  width: 120%;
  height: 637px;
  margin-left: -10%;
  @media (max-width: 960px) {
    height: 600px;
  }
  @media (max-width: 800px) {
    height: 400px;
  }
  @media (max-width: 550px) {
    height: 300px;
  }
}
.double-container {
  width: 120%;
  height: auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.couchImageContainer {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 970px;
  aspect-ratio: 970 / 637;
  z-index: 100;
  justify-content: flex-end;
  align-items: flex-end;
}

.customer-container {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 970px;
  aspect-ratio: inherit;
  z-index: 101;
  object-fit: cover;
  margin-bottom: -2%;
  @media (max-width: 960px) {
    margin-bottom: -2.3%;
  }
  /* @media (max-width: 800px) {
    margin-bottom: -3%;
  }
  @media (max-width: 550px) {
    margin-bottom: -3%;
  } */
}
.guest,
.couch {
  width: 100%;
  height: auto;
}
