.couchImageContainer {
  position: relative;
  width: 120%;
  max-width: 900px;
  height: fit-content;
  aspect-ratio: 970 / 450;
  align-self: center;
  overflow: visible;
  z-index: 1000;
  justify-self: center;
}

.couchContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}
