.addy {
  display: flex;
  gap: 30px 20px;
  width: 100%;
  flex-flow: row nowrap;
  /* border: 2px solid red; */
  @media (max-width: 780px) {
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.deets {
  display: flex;
  width: 100%;
  height: fit-content;
  color: var(--tanLighter);
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/images/bg2.jpg");
  border-radius: 10px;
  padding: 30px 20px;
  border: 10px solid #754920;
}

.deets > div {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 4px;
}
