.address {
  background-color: var(--rainbowBlue);
  /* padding: 10px 20px; */
  color: var(--white);
  border-radius: 30px;
  z-index: 500;
  /* margin: 0; */
}

.deets {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.deets > div {
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 4px;
}
