.promoImage {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-basis: auto;
  position: relative;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  background-color: var(--rainbowYellow);
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.container {
  display: flex;
  /* flex-flow: column nowrap; */
  /* flex-basis: 29%; */
  background-color: var(--rainbowRed);
  border-radius: 20px;
  text-align: left;
  /* max-width: 500px; */
  overflow: hidden;
  flex: 1 3 30%;
  @media (max-width: 840px) {
    flex: 1 3 40%;
    /* flex-basis: 50%; */
  }
}

.textArea {
  padding: 10px 20px;
  border-radius: 20px;
  overflow: hidden;
}

.textArea > h2 {
  margin-bottom: 15px;
}
.container-inline {
  border-radius: 20px;
  /* border: 20px solid var(--rainbowRed); */
  display: flex;
  flex-flow: row nowrap;
  max-width: none;
  border-radius: 20px;
  overflow: hidden;
}
.container-inline:nth-child(odd) {
  display: flex;
  flex-flow: row-reverse nowrap;
}

/* THEMES */
.inline-flip {
  flex-flow: row nowrap;
  flex-basis: 100%;
  width: 100%;
  @media (max-width: 600px) {
    flex-flow: column nowrap;
  }
}

.column {
  flex-flow: column nowrap;
}
