.parking-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: var(--rainbowYellowLight);
  /* border: 1px solid red; */
}

.image-holder {
  display: flex;
  /* position: relative; */
  width: 100%;
  /* object-fit: cover; */
  /* border: 2px solid blue; */
}

.parking-image {
  overflow: visible;
  position: relative;
  width: 120%;
  margin-left: -20%;
  height: auto;
  z-index: 1000;
  object-fit: contain;
  /* border: 2px solid purple; */
}

.parking-container > h1 {
  display: block;
  font-size: 9em;
  width: 100%;
  text-align: center;
  color: var(--rainbowRed);
  margin: -0.25em 0 0 0;
  z-index: 200;
  line-height: 0.8em;
  /* /* @media (max-width: 1100px) {
    font-size: 8em;
    margin-bottom: -0.5em;
  } */
  @media (max-width: 1490px) {
    font-size: 6em;
  }
  @media (max-width: 995px) {
    font-size: 5em;
  }
  @media (max-width: 870px) {
    font-size: 4em;
  }
}

.parking-body {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-width: 100px;
  background-color: var(--rainbowYellowLight);
  padding: 1rem 20px 10px 20px;
  /* margin-top: -12rem; */
  color: var(--black);
  font-size: x-large;
  line-height: 1.25em;
  border-radius: 7px;
  justify-self: center;
  gap: 20px;
  @media (max-width: 870px) {
    flex-flow: column nowrap;
  }
  /* @media (max-width: 550px) {
    font-size: large;
    padding-top: 4rem;
    margin-top: -5rem;
  }
  @media (max-width: 450px) {
    font-size: medium;
  } */
}
.text-body-container {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  /* border: 2px dotted green; */
  align-items: center;
  justify-content: center;
}
