.starContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin-top: 20px;
  align-self: center;
  gap: 10px;
  @media (max-width: 500px) {
    gap: 0;
  }
  /* background-image: url("../../app/images/bg-textures-yellow-small.jpg"); */
}
