.poster-container {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  width: auto;
  height: fit-content;
  background-color: #f5e0b1;
  background-image: url("../../app/images/bg-textures-yellow-small.jpg");
  /* flex-basis: 2; */
  border-radius: 3px;
  aspect-ratio: 3 / 4;
}

.poster-red {
  border-top: 15px solid var(--rainbowRed);
  border-bottom: 15px solid var(--rainbowRed);
  margin: 15px 0;
}
.poster-blue {
  border-top: 15px solid var(--rainbowBlue);
  border-bottom: 15px solid var(--rainbowBlue);
  margin: 15px 0;
}

.poster-blue > div {
  color: white;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.poster-blue > div > h1 {
  color: var(--rainbowRed);
  font-size: 3em;
  margin: -2em 0 0 0;
}

.image-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

.picture {
  /* position: relative; */
  max-width: 300px;
  width: 150%;
  margin-top: -30%;
  object-fit: contain;
  height: inherit;
  z-index: 1000;
}
